extends layout

block content

    #breadcrumb
        a(href='/') HOME
        span > FAVORITES

    #mainFavList
        h1='welcome to favs'

        if(gustados.length>0)
            .favList
                for liked in gustados
                    .dog
                        figure
                            img(src='../' +liked)
        else 
            .favList
                h4 No dogs faved yet.
        a(href='/dogs/1').link Back to main page