extends layout

block content

    h1='welcome to favs'
    h2=title

    .gustados
        ul
            for gustado in gustados
                li=gustado
            for favDog in dogData
                li=favDog.dogName
                    a(href='/dogs/dog/'+favDog.dogId) Info
        


    a(href='/dogs/1') Back