extends layout

block content

    #breadcrumb
        a(href='/') HOME
        span > FAVORITES

    #mainFavList
        h1='welcome to favs'

        .favList
            ul
                for favDog in dogData
                    li=favDog.dogName
                        a(href='/dogs/dog/'+favDog.dogId) Info
        a(href='/dogs/1').link Back to main page